<div>
    <h1>{{loading ? 'loading.....' : ''}}</h1>
    <table class="table table-borderless">
        <thead>
            <tr>
                <td>ID</td>
                <td>Tên BĐS</td>
                <td>Mã loại BĐS</td>
                <td>Diện tích BĐS</td>
                <td>Giá BĐS</td>
                <td>Ảnh BĐS</td>
                <td>Trạng thái BĐS</td>
                <td>Hành động</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="BDS in du_lieu_bds">
                <td>{{BDS.id}}</td>
                <td>{{BDS.name}}</td>
                <!-- <td>{{BDS.type_id}}</td> -->
                <td ng-if="!BDS.status == 1">Chung Cư</td>
                <td ng-if="!BDS.status == 0">Đất</td>
                <td ng-if="!BDS.status == 2">Nhà Đất</td>
                <td>{{BDS.area}}</td>
                <td>{{BDS.price}}</td>
                <td><img src="{{BDS.image_url}}" alt=""></td>
                <!-- <td>{{BDS.status}}</td> -->
                <td ng-if="!BDS.status == 1">Đã cọc</td>
                <td ng-if="!BDS.status == 0">Chưa Bán</td>
                <td ng-if="!BDS.status == 2">Đã Bán</td>
                <td>
                    <a href="">
                        <button class="btn btn-success">
                            Chi Tiết
                        </button>
                    </a>
                    <a href="">
                        <button class="btn btn-warning">
                            Sửa
                        </button>
                    </a>
                    <button class="btn btn-danger">
                        xóa
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
